body {
    background-color:  hsl(212, 45%, 89%);
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-container {
    height: 500px;
    width: 350px;
    background-color: white;
    text-align: center;
    border-radius: 15px;
    margin: auto;
    text-align: center;
    
}

img {
    height: 300px;
    width: 300px;
    margin-top: 15px;
    border-radius: 15px;
}

p {
    font-size: 15px;
    line-height: .08;
    color: grey;
    padding: 5px;
}

h1{
    font-size: 30px;
    line-height: 0.5;
}

@media screen and (max-width: 643px){
    body {
    min-height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    }
}


